.list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  
  &__item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.link {
  text-decoration: none;
  color: unset;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  border: solid thin black;
  
  @media(min-width: 768px) {
    justify-content: center;
  }
  
  .list {
    visibility: hidden;
    
    @media(min-width: 768px) {
      visibility: visible;
    }
  }
  
  .toggler {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    
    svg {
      width: 1.5em;
      height: 1.5em;
    }
    
    @media(min-width: 768px) {
      display: none;
    }
  }
}

