.list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  
  &__item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.link {
  text-decoration: none;
  color: unset;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border: solid thin black;
  
  .list {
    visibility: hidden;
    
    @media(min-width: 768px) {
      visibility: visible;
    }
  }
  
  .toggler {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    
    svg {
      width: 1.5em;
      height: 1.5em;
    }
    
    @media(min-width: 768px) {
      display: none;
    }
  }
}

