.list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  
  &__item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.link {
  text-decoration: none;
  color: unset;
}

.navbar {
  display: flex;
  
  .toggler {
    display: block;
  }
}

