.navbar {
  /**
   *  navbar bootstrap variables
   *  **************************
  */
  //--bs-navbar-padding-x: 0;
  //--bs-navbar-padding-y: .5rem;
  //--bs-navbar-color: #0000008c;
  //--bs-navbar-hover-color: #000000b3;
  //--bs-navbar-disabled-color: #0000004d;
  //--bs-navbar-active-color: #000000e6;
  //--bs-navbar-brand-padding-y: .3125rem;
  //--bs-navbar-brand-margin-end: 1rem;
  //--bs-navbar-brand-font-size: 1.25rem;
  //--bs-navbar-brand-color: #000000e6;
  //--bs-navbar-brand-hover-color: #000000e6;
  //--bs-navbar-nav-link-padding-x: .5rem;
  //--bs-navbar-toggler-padding-y: .25rem;
  //--bs-navbar-toggler-padding-x: .75rem;
  --bs-navbar-toggler-font-size: 1.75rem;
  //--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  //--bs-navbar-toggler-border-color: #0000001a;
  //--bs-navbar-toggler-border-radius: .375rem;
  //--bs-navbar-toggler-focus-width: .25rem;
  //--bs-navbar-toggler-transition: box-shadow .15s ease-in-out;
  //padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  //flex-wrap: wrap;
  //justify-content: space-between;
  //align-items: center;
  //display: flex;
  position: sticky;
  background-color: var(--bs-body-bg);
  
  &-toggler {
    border: none;
  }
  
  .container-fluid {
    justify-content: end;
  }
}

