doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block title
      title Philippe Sthely
    link(rel='stylesheet' href='/src/assets/css/normalize.css')
    link(rel='stylesheet' href='/src/sass/main.scss')
  body
    #app
    block content

